*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.comp{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
   background: #ede7f6; 
   font-family: 'Times New Roman', Times, serif;
  
  
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: rgba(96, 96, 96, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #fff;

   

}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container h2{
    font-size: 24px;
    position: relative;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #f00;
}
.sci li a .fab{
    color: #fff;
    font-size: 20px;
}
/*About Us Over*/
.quicklinks {
    font-weight: bold;
    position: relative;
    width: 25%;
}
.quicklinks ul li{
    list-style: none;
}
.quicklinks ul li a{
    color: #ffc40c;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks ul li a:hover{
    color: #fff;
}
/*Quick Link Over*/

.contact{
    font-weight: bold;
    width: calc(30% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;

}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #ffc40c;
}
.contact .info li span:hover{
    color: #fff;
}

.contact .info li a{
    color: #ffc40c;
    text-decoration: none;
}
.contact .info li a:hover{
    color: #fff;
}
.copyright{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    color: #ffffff;
    text-align: center;
    background: rgba(96, 96, 96, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 2px solid #fff; 
}
@media (max-width: 991px){
    footer{
        padding: 40px;
        top: 190px;
        
        
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,.quicklinks,.contact{
        width: 100%;
    }
    .copyright{
        margin-top: 190px;
        padding: 8px 40px;
    }
    html,body,header,.view{
        height: 114%;
        
    }
    .sticky + .content + .comp {
        padding-top: 75px;
    }
   
   
    

}