<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>PROFILE</title>
      <link rel="stylesheet" href="../static/css/nav.css">
      <link rel="stylesheet" href="../static/css/profile.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
   </head>
   <body>
      <nav>
         <div class="logo">
            Med<a style="color: cyan;">Share</a>
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul style="top: 70px;">
            <li><a class="active" href="http://127.0.0.1:5000/profile">Profile</a></li>
            <li><a href="http://127.0.0.1:5000/basic">Basic</a></li>
            <li><a href="http://127.0.0.1:5000/BloodReport">Blood Report</a></li>
            <li><a href="http://127.0.0.1:5000/reports">Reports</a></li>
            <li><a href="http://127.0.0.1:5000/observation">Observations</a></li>
            <li><a  href="http://127.0.0.1:5000/home"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
         </ul>
      </nav>
      <div class="container">
        <div class="title" style="text-align: center;">PROFILE</div>
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Name</span>
                <input type="text" required>
              </div>
              <div class="input-box">
                <span class="details">Dob</span>
                <input type="text" required>
              </div>
              <div class="input-box">
                <span class="details">Age</span>
                <input type="text" required>
              </div>
              <div class="input-box">
                <span class="details">Gender</span>
                <input type="text" required>
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" required>
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" required>
              </div>
              <div class="input-box">
                <span class="details">Aadhar Number</span>
                <input type="text" required>
              </div>
              <div class="input-box" >
                <span class="details">Address</span>
                <input type="text" required> 
              </div>
            </div>
            
           <!--<div class="button">
              <input type="submit" value="Register">
            </div>--> 
          </form>
        </div>
      </div>
   </body>
</html>
