<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>REPORTS</title>
      <link rel="stylesheet" href="../static/css/nav.css">
      <link rel="stylesheet" href="../static/css/reports.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">      
   </head>
   <body>
      <nav>
         <div class="logo">
            Med<a style="color: cyan;">Share</a>
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul style="top: 70px;">
          <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
          <li><a  href="http://127.0.0.1:5000/basic">Basic</a></li>
            <li><a href="http://127.0.0.1:5000/BloodReport">Blood Report</a></li>
            <li><a class="active" href="http://127.0.0.1:5000/reports">Reports</a></li>
            <li><a href="http://127.0.0.1:5000/observation">Observations</a></li>
            <li><a  href="http://127.0.0.1:5000/home"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
         </ul>
      </nav>
      <div class="table-container">
        <h1 class="heading">REPORTS</h1>
        <table class="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Date</th>
              <th>Type Of Test</th>
              <th>Cause</th>
              <th>View</th>
              <th>Conclusion</th>
              <th>Test Taken At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="S.No">1</td>
              <td data-label="Date">1-01-2021</td>
              <td data-label="Type Of Test">Full Checkup</td>
              <td data-label="Cause">Headache</td>
              <td data-label="View" ><a href="#" class="btn"> View</a></td>
              <td data-label="Conclusion">Normal</td>
              <td data-label="Test Taken At">Chennai</td>
            </tr>
            <tr>
              <td data-label="S.No">2</td>
              <td data-label="Date">2-01-2021</td>
              <td data-label="Type Of Test">Full Checkup</td>
              <td data-label="Cause">Headache</td>
              <td data-label="View" ><a href="#" class="btn"> View</a></td>
              <td data-label="Conclusion">Normal</td>
              <td data-label="Test Taken At">Chennai</td>
            </tr>
          </tbody>
        </table>
      </div>
      
   </body>
</html>
