<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/signup.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
    
    <div id="video">
        <video autoplay muted loop>
          <source src="../static/video/v1.mp4" type="video/mp4">

        </video>
      </div>

      <section>
          <div class="container">
              <h2>Sign <a style="color: #00ff00;">Up</a> Form</h2>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span class="text">Username</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                            <div class="inputBox">
                                <input type="text" name="" required="required">
                                <span class="text">Password</span>
                                <span class="line"></span>
                            </div>
                    </div>
                </div>

          <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span class="text">Name</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox" style="color: black;">
                        <input type=text  name="bdate" id="bdate" class="datepicker" required>
                        <span class="text" style="color: #fff;">Dob</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>

            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span class="text">Age</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span class="text">Gender</span>
                            <span class="line"></span>
                        </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span class="text">Martial Status</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span class="text">Email</span>
                            <span class="line"></span>
                        </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span class="text">Contact No</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span class="text">Height In Cms</span>
                            <span class="line"></span>
                        </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span class="text">Weight In Kgs</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span class="text">Birth Mark</span>
                            <span class="line"></span>
                        </div>
                </div>
            </div>

            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span class="text">Aadhar No</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span class="text">Handicap (Yes/No)</span>
                            <span class="line"></span>
                        </div>
                </div>
            </div>

            <div class="row100">
                <div class="col">
                    <div class="inputBox textarea">
                        <textarea  required="required"></textarea>
                        <span class="text">Address</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>

            <div class="row100">
                <div class="col">
                    <input type="submit" value="Sign Up">
                </div>
            </div>
          </div>
          
      </section>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js'></script><script  src="../static/javascript/script.js"></script>

</body>
</html>